body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  font-size: xx-large;
}
#welcome-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 29, 29);
  width: 100%;
  height: 100vh;
}
#description{
  color: lightskyblue;
}
#title{
  color: white;
}
#projects{
  text-align: center;
  padding: 20px;
  background: rgb(0, 30, 58);
}
.project__title{
  color: white;
}
.images-div{
  display: grid;
}
#project-link{
  border-radius: 5px;
}
#project-image{
  display: block;
  width: 30%;
}
